# Environments
.env
.env.local
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.pytest_cache/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Database files
*.db
*.sqlite
*.sqlite3
data/*.db
data/*.sqlite

# Logs & IDE
.DS_Store
*.log
.vscode/
.idea/
